
    <div style="position: inherit; margin-top: 10px; margin-left: 60px">
        <button mat-raised-button color="warn" (click)="signDialog()">Semneaza</button>
      </div>

  
    <!-- <span>Your choice is: {{usersForm.get('userInput').value | json}}</span> -->
    <!-- <span>Your choice is: {{userData | json}}</span> -->
  
    <table mat-table [dataSource]="userData" class="mat-elevation-z8">
      <!-- Item Column -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> ID </th>
        <td mat-cell *matCellDef="let userData"> {{userData.id}} </td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>
  
      <!-- Item Column -->
      <ng-container matColumnDef="nrcrt">
        <th mat-header-cell *matHeaderCellDef> NrCrt </th>
        <td mat-cell *matCellDef="let userData"> {{userData.nrcrt}} </td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>
  
      <!-- Cost Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Descriere </th>
        <td mat-cell *matCellDef="let userData"> {{userData.name}} </td>
        <td mat-footer-cell *matFooterCellDef> Total </td>
      </ng-container>
  
      <!-- Item Column -->
      <ng-container matColumnDef="um">
        <th mat-header-cell *matHeaderCellDef> Unitate </th>
        <td mat-cell *matCellDef="let userData"> {{userData.um}} </td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>
  
      <!-- Item Column -->
      <ng-container matColumnDef="quantity">
        <th mat-header-cell *matHeaderCellDef> Cantitate </th>
        <td mat-cell *matCellDef="let userData"> {{userData.quantity}} </td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>
  
      <!-- Value Column -->
      <ng-container matColumnDef="taxed_value">
        <th mat-header-cell *matHeaderCellDef> Pret unitar </th>
        <td mat-cell *matCellDef="let userData"> {{userData.taxed_value | number}} </td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>
  
      <!-- Value Column -->
      <ng-container matColumnDef="taxed_price">
        <th mat-header-cell *matHeaderCellDef> Pret total </th>
        <td mat-cell *matCellDef="let userData"> {{userData.taxed_price | number}} </td>
        <td mat-footer-cell *matFooterCellDef> {{getTotalCost() | currency}} </td>
      </ng-container>
  
      <!-- Item Column -->
      <ng-container matColumnDef="tax">
        <th mat-header-cell *matHeaderCellDef> Adaos </th>
        <td mat-cell *matCellDef="let userData"> {{userData.tax}} </td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>
  
      <!-- Item Column -->
      <ng-container matColumnDef="value">
        <th mat-header-cell *matHeaderCellDef> Pret Unitar </th>
        <td mat-cell *matCellDef="let userData"> {{userData.value}} </td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>
  
      <!-- Item Column -->
      <ng-container matColumnDef="price">
        <th mat-header-cell *matHeaderCellDef> Pret Total </th>
        <td mat-cell *matCellDef="let userData"> {{userData.price}} </td>
        <td mat-footer-cell *matFooterCellDef>{{getProjectCost() | currency}}</td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      <tr mat-footer-row *matFooterRowDef="displayedColumns"></tr>
    </table>
  
