<mat-card style="margin-bottom: 10px;">
    <mat-form-field>
        <!-- <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter"> -->
      </mat-form-field>
      <!-- <mat-radio-group>
          <mat-radio-button value="1">EURO 4.76 </mat-radio-button>
          <mat-radio-button value="2">USD 4.12 </mat-radio-button>
          <mat-radio-button value="2">RON</mat-radio-button>
        </mat-radio-group> -->
</mat-card>
<mat-card>
  <div class="mat-elevation-z8 project-container">
    <table mat-table class="full-width-table" [dataSource]="dataSource" matSort aria-label="Elements">
      <!-- Nr.Crt Column -->
      <ng-container matColumnDef="NrCrt">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>NrCrt</th>
        <td mat-cell *matCellDef="let row">{{row.NrCrt}}</td>
        <td mat-cel>cel</td>
        <td mat-footer-cell *matFooterCellDef>TOTAL</td>
      </ng-container>

      <!-- Descriere Column -->
      <ng-container matColumnDef="Descriere">

        <th mat-header-cell *matHeaderCellDef mat-sort-header>Descriere</th>
          <td mat-cell *matCellDef="let row">{{row.Descriere}}</td>
          <td mat-cel>cel</td>

        <!-- <mat-header-cell *matHeaderCellDef> Descriere </mat-header-cell>
        <mat-cell *matCellDef="let row">
          {{row.Descriere}}
        </mat-cell> -->

        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>

      <!-- UM Column -->
      <ng-container matColumnDef="UM">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>UM</th>
        <td mat-cell *matCellDef="let row">{{row.UM}}</td>
        <td mat-cel>cel</td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>

      <!-- Unitati Column -->
      <ng-container matColumnDef="Unitati">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Unitati</th>
        <td mat-cell *matCellDef="let row">{{row.Unitati}}</td>
        <td mat-cel>cel</td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>

      <!-- Pret Unitar Column -->
      <ng-container matColumnDef="PretUnitar">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>PretUnitar</th>
        <td mat-cell *matCellDef="let row">{{row.PretUnitar}}</td>
        <td mat-cel>cel</td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>

      <!-- Pret Fara TVA Column -->
      <ng-container matColumnDef="PretTotalFaraTVA">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>PretTotalFaraTVA</th>
        <td mat-cell *matCellDef="let row">{{row.PretTotalFaraTVA}}</td>
        <td mat-cel>cel</td>
        <td mat-footer-cell *matFooterCellDef>56473.87</td>
      </ng-container>

      <!-- <ng-container matColumnDef="actionsColumn">
        <mat-header-cell *matHeaderCellDef>
          <button mat-button color="accent" (click)="dataSource.createNew()">New</button>
        </mat-header-cell>
        <mat-cell *matCellDef="let row">
          <button *ngIf="!row.editing" mat-button color="primary" focusable="false" (click)="row.startEdit()">
            Edit
          </button>
          <button *ngIf="row.editing" mat-button color="primary" focusable="false" (click)="row.confirmEditCreate()">
            Save
          </button>
          <button mat-button color="primary" focusable="false" (click)="row.cancelOrDelete()">
            Delete
          </button>
        </mat-cell>
      </ng-container> -->

      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky:true;"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      
      <tr mat-footer-row *matFooterRowDef="displayedColumns; sticky: true"></tr>
    </table>


    

    <mat-paginator #paginator [length]="dataSource.data.length" [pageIndex]="0" [pageSize]="50"
      [pageSizeOptions]="[25, 50, 100, 250]">
    </mat-paginator>
  </div>
</mat-card>