* {
  font-family: Roboto;
}

.is-loading ::ng-deep .mat-option-text {
  display: flex;
  justify-content: center;
}
table {
  width: 90%;
  margin: 10px auto;
}
.search-bar{
  width: 60%;
  margin: 10px auto;
}


.mat-footer-row {
  font-weight: bold;
}
.mat-icon{
  font-family: 'Material Icons' !important;
}